.box {
  width: 300px;
  height: 150px;
  border: 1px solid #eeeeee;
  padding: 20px;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contents {
  padding: 10px 0px;
}

.buttons {
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
}

.Btn {
  width: 130px;
  background-color: #eeeeee;
  color: black;
}

.Btn:hover {
  background-color: #256ef1;
  color: white;
}
